.item{
    border:3px solid red;
    height: 100px;
    display:flex;
/*    width: 100px*/
}

.container{
    border: 3px solid blue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1rem;
    padding: 1rem
}
