@import url('https://fonts.googleapis.com/css2 family=Roboto+Slab&display=swap');

* {
    font-family: "Roboto Slab",sans-serif;
    box-sizing:border-box
}
/*div{
    border : 1px solid blue
}*/
body{
    margin: 0px;
    background-color: #fbecec
}
.header{
    background-color: #440047;
    border-bottom: 0.5rem solid #91d185
}

.logo{
    color: #fbccec;
    padding: 1.5rem;
    margin: 0px
}

.footer{
/*        clear: both;*/
        padding: 1.2rem;
        background-color:#440047;
        color:#fbecec;
}
.container{
    display: flex
}

.category-column{
    width: 25%;
/*    float: left;*/
    padding:1.2rem

}

.headlines-column{
    width: 50%;
/*    float:left;*/
    padding:1.2rem

}

.weather-column{
    width:25%;
/*    float: left;*/
    padding:1.2rem

}

.heading{
    color: #e11d74;
    margin:1.2rem
}

.content{
    border: 0.1rem solid #91d18b;
    border-radius:0.4rem;
/*    padding-left: 1.2rem;*/
/*    padding-right: 1.2rem;*/
}
.news-title, .category-item{
/*    padding-top:0.6rem;*/
/*    padding-bottom: 0.6rem;*/
    color: #440047;
    margin: 1.2rem
}
.news-title:hover{
    color: #e11d74;
    cursor:pointer;
    text-decoration:underline
}

.weather-degree{
    text-align: center;
    color: #91d188;
    font-size:6rem;
}