@import url('https://fonts.googleapis.com/css2 family=Roboto+Slab&display=swap');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v103/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: "Roboto Slab",sans-serif;
    box-sizing:border-box
}
/*div{
    border : 1px solid blue
}*/
body{
    margin: 0px;
    background-color: #fbecec
}
.header{
    background-color: #440047;
    border-bottom: 0.5rem solid #91d185;
    display: grid;
    grid-template-columns:10fr 1fr 1fr ;
}
.nav-link{
    padding: 1.5rem;
    font-weight: bold;
    color: #fbecec;
    text-decoration: none
}
.nav-link:hover{
    color: #e11d74;
}

.logo{
    color: #fbccec;
    padding: 1.5rem;
    margin: 0px
}

.footer{
/*        clear: both;*/
        padding: 1.2rem;
        background-color:#440047;
        color:#fbecec;
}
.container{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1rem;
    padding: 1rem
}
.signup-container{
    width: 36rem;
    border: 0.1rem solid #91d18b;
    border-radius: 0.4rem;
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.category-column{
/*    width: 25%;*/
/*    float: left;*/
/*    padding:1.2rem*/

}

.headlines-column{
/*    width: 50%;*/
/*    float:left;*/
/*    padding:1.2rem*/

}

.weather-column{
/*    width:25%;*/
/*    float: left;*/
/*    padding:1.2rem*/

}

.heading{
    color: #e11d74;
    margin-top: 0rem;
/*    margin:1.2rem*/
}

.content{
    border: 0.1rem solid #91d18b;
    border-radius:0.4rem;
/*    padding-left: 1.2rem;*/
/*    padding-right: 1.2rem;*/
}

.news-title, .category-item{
/*    padding-top:0.6rem;*/
/*    padding-bottom: 0.6rem;*/
    color: #440047;
    margin: 1.2rem
}

.category-icon{
    font-size: 1rem;
    margin-right: 0.3rem;
    color: #e11d74;
}

.news-title:hover{
    color: #e11d74;
    cursor:pointer;
    text-decoration:underline
}

.weather-degree{
    text-align: center;
    color: #91d188;
    font-size:6rem;
}
label{
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #440047;
    
}

.label-radio{
    display: inline;
}

.form-element-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:1rem;
    padding-bottom: 1rem;
}
input[type="text"],input[type="password"], select, textarea {
    width:100%;
    font-size: 0.85rem;
    border: none;
    border-bottom: .02rem solid #91d188;
    background-color: #fecece;
    outline: none;
    color: #e11d74;   
}
input[type="text"]:focus,input[type="password"]:focus, select:focus, textarea:focus {
   border-bottom: 0.2rem solid #e11d74;
}
input[type="submit"] {
    background-color: #e11d74;
    padding:1rem;
    color: #fbecec;
    font-weight: bold;
    border: 0.1rem solid #e11d71;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
input[type="submit"]:hover {
    color: #e11d74;
    background-color: #fbecec;
}
