@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/*h1{
    color:green;
    text-align:center
    }
#heading{
    color: blue
}
.heading{
    color:red
}
*/
/*@font-face{
    font-family:"Roboto Slab";
    src : url("font/RobotoSlab-VariableFont_wght.ttf")
}*/

.box{
    font-family: "Roboto Slab" ,Ariel,Helvetica;
    font-size: 34px;
    font-weight: bold;
    color: darkgreen;
    background-color: aquamarine;
    border-color: darkgreen;
    border-style: solid;
    border-width: 3px;
    width: 200px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    
}

/*body{
    background-color:#7FFFD4
}*/

body{
    font-family: "Roboto Slab"
}

.article {
    width: 50%;
    margin: auto;
    border: 10px solid #DDDDDD;
    border-radius: 5px;
    padding: 20px;
    
}
.article-image {
    width : 30%;
    float: right;
    margin-left : 10px
}

.heading {
    color: #289599
}
.sub-heading {
    color: #999
}
.article-para {
    color: #888;
    text-align : justify
}

* {
    border: 1px solid blue
}


